.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 2.4rem 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2028;
}

.header ul {
  padding: 0;
  list-style: none;
}

.header a {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
}
