.btnLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  font-size: 1.3rem;
  border: 2px solid #555;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  transition: all ease-in-out 0.1s;
}

.btnLeft:hover {
  background-color: #303e45;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.title {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.postDate {
  font-size: 1.1rem;
  margin: 1rem 0;
}

.coverImage {
  border-radius: 10px;
}

.postBody {
  width: 100%;
  margin: 3rem auto;
}

.postBody ul {
  display: block;
}

.postBody a {
  color: rgb(53, 139, 205);
  text-decoration: underline;
}

.postBody img {
  max-width: 100%;
  margin: 1rem;
}

.postBody blockquote {
  border-left: 3px solid #bbb;
  margin-left: 1rem;
  padding-left: 0.5rem;
}

.postBody li {
  margin-left: 1rem;
}

.postBody ul li {
  list-style: disc;
}

.postBody ol li {
  list-style: decimal;
}
