.posts {
  display: grid;
  grid-template-columns: minmax(300px, 1fr);
  gap: 1rem;
  margin: 3rem auto;
}

@media screen and (min-width: 650px) {
  .posts {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

@media screen and (min-width: 1000px) {
  .posts {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}

@media screen and (min-width: 1300px) {
  .posts {
    grid-template-columns: repeat(4, minmax(300px, 1fr));
  }
}
