.about {
  margin: 2rem auto;
}

.about p {
  margin: 1rem auto;
}

.skills {
  margin: 2rem auto;
}

.skills ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 1rem auto;
}

.skills ul li {
  text-align: center;
  list-style: none;
  padding: 0.8rem 1rem;
  margin: 0.5rem;
  border-radius: 8px;
  background-color: var(--bg-gray-color);
  font-weight: 700;
}
