:root {
  --bg-color: #0a0a28;
  --bg-gray-color: #303e45;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body,
#__next {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg-color);
  color: #fff;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85vw;
  margin: 2rem auto;
}

.btn {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 1rem 2rem;
  background-color: var(--bg-gray-color);
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
  margin: 1rem auto;
  transition: all ease-in-out 0.1s;
}

.btn::before {
  border-radius: 10px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%, -50%);
  z-index: -5;
  transition: all ease-out 0.3s;
}

.btn:hover::before {
  width: 100%;
  height: 100%;
  z-index: 1;
  border: 2px solid #20b5ff;
}

.active {
  display: block;
}
