* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  font-weight: 500;
  line-height: 1.5;
  background-color: #1f2028;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

h2 {
  text-align: center;
  font-size: 1.7rem;
  margin: 1rem 0 3rem 0;
}

h3 {
  margin: 1rem 0;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
}

p {
  margin: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
}

.container {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}
